<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>  
      <add name="db_connection" connectionString="SG9zdD1lYzItNTQtNzMtMTUyLTM2LmV1LXdlc3QtMS5jb21wdXRlLmFtYXpvbmF3cy5jb207VXNlcm5hbWU9eWx0d2xsYnNkYW5wZ3g7UGFzc3dvcmQ9MTRjZjgzZDU0ZjgyNGIzZWExNzI2ZDQ3NzdiOWRlMWFhMzdlMGI4OGRhODhhMWU3MTU4Mzk4Mzk0MWFlZTVlZDtEYXRhYmFzZT1kNDI1ODVjdXEzaTFhODtQb3J0PTU0MzI7U1NMIE1vZGU9UmVxdWlyZTtUcnVzdCBTZXJ2ZXIgQ2VydGlmaWNhdGU9dHJ1ZQ==" />  
    </connectionStrings>
	<appSettings>
		<add key="Path" value="D:\Reports\" />
	</appSettings>
</configuration>