<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>  
      <add name="db_connection" connectionString="Host=ec2-54-73-152-36.eu-west-1.compute.amazonaws.com;Username=yltwllbsdanpgx;Password=14cf83d54f824b3ea1726d4777b9de1aa37e0b88da88a1e71583983941aee5ed;Database=d42585cuq3i1a8;Port=5432;SSL Mode=Require;Trust Server Certificate=true" />  
    </connectionStrings> 
</configuration>